DISCORDBOTTOKEN=
GUILDEDBOTTOKEN=
GUILDEDBOTPREFIX=
STOATBOTTOKEN=
STOATBOTPREFIX=
STOATBASEURL=
STOATWEBSOCKETURL=
FLUXERBOTTOKEN=
FLUXERBOTPREFIX=
LAUNCHMODE=0
PTERODACTYL_PANELURL=
PTERODACTYL_APIKEY=
PANEL_SERVERID=